@import 'general.css';

.header{
  font-family: "Playfair Display",Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: black;
  padding: 5px 15px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.4);
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: none;
}
.header span:hover,
.left-sec *:hover{
  color: var(--hover);
}
.left-sec *,
.middle-sec span{
  color: white;
  cursor: pointer;
  color: white;
}
.left-sec,
.right-sec,
.middle-sec{
  flex: 1fr;
}

.left-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  flex-shrink: none;
  min-width: 200px;
}
.left-sec *,
.middle-sec *{
  font-size: 31px;
}
.left-sec div{
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
}
/* .left-sec>div:hover{
  border-top-width: 4px;
  border-top-color: var(--hover);
  border-top-style: solid;
  #another way for border top style
} */
.left-sec div::before{
  position: absolute;
  content: "";
  width: 100%;
  color: var(--hover);
  top: -10px;
  right: 0;
  border: solid;
  border-width: 1.5px;
  visibility: hidden;
}
.left-sec div:hover::before{
  visibility: visible;
}


.middle-sec{
  margin-left: -5%; 
  width: auto;
}
.middle-sec span{
  font-weight: 400;
  font-size: 40px;
}


.right-sec{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

}
.icon{
  height: 60px;
  width: auto;
  cursor: pointer;
}
#checkout-icon{
  height: 65px;
}
