@import 'general.css';

main{
  padding: 20px 20%;
}
.order-container{
  margin-bottom: 60px;
}
.kbd-order{
  position: relative;
  color: white;
  font-size: 20px;
}
.kbd-order::after{
  position: absolute;
  content: "";
  border: double 3px rgba(45, 45, 45, 0.7);
  border-radius: 20px;
  bottom: -15%;
  width: 100%;
}
.add-order-btn{
  transform: translateX(-20%);
  background-color: var(--hover);
  color: white;
  padding: 8px 8px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
}

.kbd-info{
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  justify-content: space-between;
  font-size: 30px;
}


.output-table{
  font-size: 21.6px;
  margin-left: 40px;
  width: 80%;
  border-spacing: 30px;
  border-collapse: collapse;
}
.output-table th{
  text-align: left;
  margin-bottom: 10px;
}
.output-table tr{
  border-bottom: solid 1px rgba(255, 255,255,0.5);
}
.output-table .total-output{
  border-bottom: solid 1px rgba(255, 255,255,1);
}
.output-table td,
.output-table th{
  padding: 10px 0;
}
