@import 'general.css';

main{
  margin-bottom: 1000px;
}
#board-type{
  padding-top: 100px ;
}
section{
  margin-bottom: 20%;

}
.product-grid{
  position: relative;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.inner-product-grid{
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.product-grid::after{
  content: "";
  position: absolute;
  border: solid 3px rgba(20,20,20,0.5);
  bottom: -20px;
  left: 0;
  right:5%;
  /* width: 90%; */
  border-radius: 25%;
}
.hidden-grid,
.hidden{
  display:none !important;
}


.section-info{
  height: auto;
  width: 90%;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  display: block;
  margin: 2% 0px;
}
.section-info h1{
  margin-bottom: 8px;
  font-size: 40px;
}

.product-container{
  color: white;
  width: 200px;
  margin: 0px 15px 20px 0px;
  border: solid 2px white;
  cursor: pointer;
  padding: 10px 10px 0px 10px;
  background-color: rgb(100, 100, 100);
}
.product-thumbnail{
  width: 100%;
  height: auto;
}
.product-info span{
  display: block;
  margin: 8px 5px;
}

.btn-row{
  display: flex;
  justify-content: space-between; 
} 
.btn-row button{ 
  font-size: 15px; 
} 
 
.btn-row button:last-child{ 
  visibility: hidden; 
} 
 
.no-after::after{ 
  border: none; 
} 
 
.section-info p{
  font-size: 25px;
}

