:root{
  --hover: #dcaa2e;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: var(--hover);
}

*{
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

button:active{
  translate: 1px 1px;
}
body{
  padding-top: 110px;

  font-family:  Arial, Helvetica, sans-serif;
  background-color: rgb(69, 69, 69);
}


main{
  padding: 20px 20%;
}


button{
  background-color: var(--hover);
  color: white;
  padding: 8px 8px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}